/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
:root {
  --color-primary:#ffffff; /* Default to light mode */
  --color-secondary:#000000;
  --color-text-base:#000000;
  --color-bg-primary:#FFEE58;
}
}
.theme-black {
  --color-primary:#000000; /* Default to light mode */
  --color-secondary:#ffffff;
}

.theme-orange {
  --color-primary: #ff7700;
  --color-secondary: #000000;
}

/* Applying the variables to Tailwind classes */
.bg-them {
  background-color: var(--bgThem);
}

.text-them {
  color: var(--txtThem);
}
